/*global settings for after reset.css*/
html {
    font-size: 16px;
    background-color: #AAD4CF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}
/* leave 1/6 of the screen (vertically) on each side of body */
body {
    margin: 0 auto;
    height: 100%;
    width: 66%;
    background-color: #D4E9E7;
}
/*setting margins for main*/
main {
    margin: 0 auto;
    height: 100%;
    width: 98%;
}
/* setting size and margin for heading 3 */
h3{
    font-size: 1.4em;
    font-weight:bold;
    margin-bottom: 0.5em;
}
/* styles facts section  */
#facts ul {
    margin-left: 1em;
    margin-bottom: 1.5em;
    list-style:disc;
    width: 75%; 
    font-weight: bold;
    font-size: 1rem;
}
#wrap {
    margin: 1em 0em;
}
/* wraps text around image of starfish */
.left {
    float: left;
    margin-right:1em;
}
/* add margin and sizes h2 */
article h2{
    margin-bottom: 0.5em;
    font-size:1.65vmax;
    font-weight: bold; 
}
/* resize image */
#pic {
    max-width: 20%;
    height: auto;
    margin-bottom: 1.5em;
}
/* keeps image in banner responsive */
.banner {
    height: 100%;
    width: 100%;
}
.container {
    position: relative;
    color: white;
    text-align: center;
    
}
/* somewhat responsive title positioned on starfish image */
.title {
    width: 100%;
    position:absolute;
    top:60%;
    left:0%;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 4.5vmax;
}
/* styles form without heading */
#formbox {
    border-style: solid;
    border-width: 0.1rem;
    margin-bottom: 1.5rem;
}
/* styles form content */
#form_content{
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
}
/* styles article */
.long_text{
    font-size: 1.05rem;
    font-family:'Arial Narrow Bold', sans-serif;
}
/* radio buttons styling */

/* change button styling */
.button {
    background-color: #D4E9E7;
    height: 2.2em;
    width: 3.7em;
    margin-left: 0.5rem;
}
/* styles textboxes and radiobuttons in content by ID */
#name {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
#email {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
#message {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
#question {
    font-weight: 600;
    margin-bottom: 1rem;
}
#radio_buttons {
    font-weight: bold;
    margin-bottom: 1rem;
}
/* styles footer */
footer p {
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: right;
}
/* adds space below footer */
#space {
    /*changes colour of text (period)*/
    color:#D4E9E7;
}

/* styles navigation list */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D4E9E7;
}
/* adds borders to right of list item  */
nav li {
    float: left;
    width: 33%;
    border-right: 1px solid black;
}
/* removes border from last child */
nav li:last-child {
    border-right: none;
}
/* styles navigation links */
nav a {

    display: block;
    color: black;
    text-align: center;
    padding: 0.5rem 7.5rem;
    text-decoration: none;
    font-size: 1.5rem;
}