/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* global settings for after reset */
html {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
/* styles h1, h2, h3, body, a, p */
h1 {
    font-size: 60px;
    font-weight: bolder;
}
h2 {
    font-size: 39px;
    font-weight: bold;
}
h3 {
    font-size: 25px;
    font-weight: bold;
}
p { font-size: 18px; }
/* all regular buttons */
.bttn { font-size: 20px; }
a { font-size: 20px; }
/* mobile first */
.wrapper {
    padding: 1em;
}
/* styles navigation */
div.navigation {
    background-color: #222;
    text-align: center;
}
/* displays logo on left */
.box img {
    display: block;
}
/* adds box around home and logo */
.box {
    background-color: #c78c06;
}
/* styles nav links */
nav a {
    text-decoration: none;
}


/* sets default color for home button */
div.box a {
    color: #222;
}
/* when hover and active set to white */
.box a:hover, a:active {
    color: white;
}
/* link and state of visited */
nav a:link, a:visited {
    color:#c78c06
}
/* hover and active */
nav a:hover, a:active {
    color:white;
}
/* welcome background image */
div.welcome {
    background-image: url("../images/main-banner.jpg");
}
/* class of background that needs background of #ffe6ac */
.background {
    background-color: #ffe6ac;
}
/* background for our vision */
div.our-vision {
    background-image: url("../images/vision.jpg");
}
/* background for footer */
footer {
    background-color: #222;
}
