/* css reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* global settings for after reset */
html {
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
/* styles h1, h2, h3, body, a, p */
h1 {
    font-size: 60px;
    font-weight: bolder;
    /* spacing for welcome */
    line-height: 1.5;
    padding-bottom: 1rem;
    
}
h2 {
    font-size: 39px;
    font-weight: bold;
}
h3 {
    font-size: 25px;
    font-weight: bold;
}
p { font-size: 18px; }
/* all regular buttons */
.bttn { font-size: 20px; }
a { font-size: 20px; }
/* mobile first */
.wrapper {
    padding: 1em;
    max-width: 100%;
}
/* match image width to parent for all img except logo */
main img {
    width: 100%;
}
/* styles navigation */
div.navigation {
    background-color: #222;
    text-align: center;
}
/* displays logo on left */
.box img {
    display: block;
}
/* adds box around home and logo */
.box {
    background-color: #c78c06;
}
/* styles button in welcome */
.connect {
    background-color: #c78c06;
    color: black;
    padding: 1em;
    margin-top: 0.5em;
}
/* styles nav links */
nav a {
    /* remove underline, space and display inline for nav links */
    display: inline-block;
    text-decoration: none;
    padding: 1em;
}
/* search is a div that contains searchbox and search bttn
given display of flex */
.search {
    display: flex;
}
/* styles searchbox */
.searchbox {
    font-size: 20px;
    width: 95%;
}
.search-bttn {
    border: solid 1px #c78c06;
    padding: 4px;
}
/* sets default color for home button */
div.box a {
    color: #222;
}
/* when hover and active set to white */
.box a:hover, a:active {
    color: white;
}
/* link and state of visited */
nav a:link, a:visited {
    color:#c78c06
}
/* hover and active */
nav a:hover, a:active {
    color:white;
}
/* welcome background image and flex */
div.welcome {
    background-image: url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90%;
    /* welcome div with flex for child wrapper */
    display: flex;
    padding: 4em  0 4em 0;
}
/* styles welcome section */
section.welcome {
    color: white;
    padding-top: 2.5rem;
}
/* wrapper for welcome section */
.wrap-welcome {
    width: 95%;
}
/* adds faded background to welcome section */
section.alpha {
    background-color: rgba(0, 0, 0, 70%);
    width: 100%;
}
/* class of background that needs background of #ffe6ac */
.background {
    background-color: #ffe6ac;
}
/* our services images */
div.service img {
    width: 100%;
}
/* background for our vision */
div.our-vision {
    background-image: url("../images/vision.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
/* google maps styling */
#location iframe {
    width: 100%;
    height: 25em;
    padding-top: 1em;
}
/* styles footer */
footer {
    background-color: #222;
    color: #c78c06;
}


